@charset "utf-8";
/* CSS Document */

h1 {
	margin: 0px;
}

body {
	background-color: aqua;
	margin: 0px;
}

#left {
	float: left;
	width: 60%;
	height: 1000px;
	background-color: #FF0000;
}

#right {
	float: right;
	width: 40%;
	height: 500px;;
	background-color: blue;
}

#top {
	position: fixed;
	width: 100%;
	background-color: chartreuse;
	height: 100px;
	position: fixed;
}

.top {
	margin-top: 100px;
}